.result {
  max-width: 144rem;
  margin: 0 auto;
  padding: 3rem 4rem;
  // display: grid;
  // grid-template-columns: 26rem minmax(26rem, 1fr);
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;

  &__menu {
    flex: 0 1 26rem;
  }

  &__list {
    flex: 1 1 26rem;
  }
}